<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <!--Variable desde post controller -->
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>
            <% if post.body %>
                <a href="#" data-reveal-id="post-<%= post.id%>">Ver comentarios</a>
            
                <div id="post-<%= post.id%>" class="reveal-modal" data-reveal>
                    <a class="close-reveal-modal">&#215</a>
                    <%= post.body %></td>
            
                    
                </div>
            <% end %> 

    
        <td><%= User.find(post.user_id).email %></td>
       <% if can?  :show, post %>
    <td><%= link_to 'Show', post %></td>
    <% end %>
    
         <% if can? :edit, post %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
         <% end %>
    
         <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     <% end %>

      </tr>
 <% end %>
</tbody>
</table>
<br>


    

